body#my_body {
	font-family: 'Open Sans', sans-serif;
	background-color: #393939;
}

/*
COLORS
Main: #393939
Orange: #FF5A09
Orange2: #F3843E
Orange3: #FF9900
Grey: #6E6E6E
*/


/*--------- Margin and Paddings shortcuts ---------*/
.mt-s {margin-top: 20px;}
.mt-m {margin-top: 50px;}
.mt-l {margin-top: 80px;}
.mb-s {margin-bottom: 20px;}
.mb-m {margin-bottom: 50px;}
.mb-l {margin-bottom: 80px;}
.pt-s {padding-top: 20px;}
.pt-m {padding-top: 50px;}
.pt-l {padding-top: 80px;}
.pb-s {padding-bottom: 20px;}
.pb-m {padding-bottom: 50px;}
.pb-l {padding-bottom: 80px;}

/*--------- end ---------*/


/*--------- Table for the game ---------*/
.minesweeper_field_table, td, th {
  /*border: 1px solid black;*/
  margin: 0 auto;
}
.minesweeper_field_table td {
	border-radius: 50%;
	box-shadow: 5px 5px 2px #6E6E6E;
  height: 49px;
  width: 49px;
	color: #F3843E;
	-ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.table-element {
	visibility: hidden;
}
.table-background {
	background-color: #F3843E;
}


/*--------- end ---------*/

/*--------- icons ---------*/
.fa-circle {
  color: white !important;
}
.fa-inverse {
  color: #6E6E6E !important;
}
.fa-flag {
	color: white;
	padding-left: 10px;
}
.fa-bomb {
	color: white;
}
/*--------- end ---------*/

/*--------- General ---------*/
#main_content .no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.game_header {
  /*border: 1px solid black;*/
	background-color: #F3843E;
	color: white;
	box-shadow: 10px 10px 5px #6E6E6E;
  padding: 20px;
}
.smiley_box {
	/*border: 1px solid black;*/
	padding: 10px;
}
.counter_boxes {
  /*border: 1px solid black;*/
  padding: 10px;
  font-size: 28px;
}
.main-header {
	color: white;
}
#tableWrapper {
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	transform: rotate(-45deg);
	margin-top: 75px;
}
/*--------- end ---------*/
